@import url('./loader.css');
@import url('../../node_modules/slim-select/dist/slimselect.css');

body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
}

.cat-info {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    background-color: coral;
    border-radius: 8px;
}

.image {
    display: flex;
    object-fit: cover;
    width: 40%;
    margin: 20px;
    border-radius: 8px;
}

.text-info-block {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.temperament {
    font-weight: 600;
}

.breed-select {
    color: tomato;
    margin-block-end: auto;
    display: flex;
    align-self: flex-end;
}